@import "../../../assets/sassMixins.scss";

.white-wrapper {
  background-color: white;
  width: 70%;
  max-width: 1800px;
  height: 35em;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  padding-top: 1.5em;
  position: relative;

  img {
    height: 5em;
    top: -6%;
    left: -3%;
    transform: rotate(-25deg);
    position: absolute;
  }

  &__repo-data {
    padding: 1em 0;
    display: flex;
    justify-content: center;
    height: 75%;
  }

  .hr {
    height: 1px;
    width: 25em;
    background-color: black;
    margin: 1.5em auto 0 auto;
  }

  button {
    width: 7em;
    border-radius: 5px;
    border: 0;
    color: white;
    background: $black-gitHub;
    margin: 2em auto 0 auto;
    text-align: center;
    padding: 0.5em 0;
    font-size: 1.3em;
    cursor: pointer;

    &:hover {
      background-color: #2b3137cb;
    }
  }

  @media only screen and (max-width: 870px) {
    font-size: 14px;
    width: 90%;
  }

  @media only screen and (max-width: 685px) {
    font-size: 12px;
    width: 100%;
    &__repo-data {
      justify-content: space-between;
    }
  }

  @media only screen and (max-width: 550px) {
    font-size: 10px;
    height: 53em;

    &__repo-data {
      flex-direction: column;
      align-items: center;
    }

    .hr {
      display: none;
    }

    button {
      margin: 6em auto 0 auto;
    }
  }
}
