.input {
  display: flex;
  border-bottom: 0.1875em solid white;

  input {
    border: 0;
    padding: 0.2em 0;
    background: transparent;
    outline: none;
    font-size: 1.2em;
    color: white;
    width: 31.25em;
  }

  img {
    height: 1.7em;
    cursor: pointer;
  }

  @media only screen and (max-width: 830px) {
    margin-bottom: 1em;
    font-size: 14px;
  }

  @media only screen and (max-width: 560px) {
    margin-bottom: 1em;
    font-size: 11px;
  }

  @media only screen and (max-width: 450px) {
    margin-bottom: 1em;
    font-size: 8px;
  }
}
