.input {
  display: flex;
  border-bottom: 3px solid white;

  input {
    border: 0;
    padding: 0.2rem 0;
    background: transparent;
    outline: none;
    font-size: 1.2rem;
    color: white;
    width: 500px;
  }

  img {
    height: 1.7rem;
  }
}
