.repo-wrapper {
  width: 50%;
  background-color: white;
  border-radius: 22px;
  margin-top: 1.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    padding: 1.2em 3em;
    background-color: #2b3137;
    border-radius: 11px;
    border: 0;
    color: white;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    transition: all 0.2s;

    &:hover {
      background-color: #2b3137ad;
    }
  }

  @media only screen and (max-width: 1170px) {
    font-size: 15px;
    width: 70%;
  }

  @media only screen and (max-width: 760px) {
    font-size: 13px;
    width: 80%;
  }

  @media only screen and (max-width: 555px) {
    font-size: 12px;
    width: 100%;
  }

  @media only screen and (max-width: 420px) {
    font-size: 10px;
  }
}
