@import "../../assets/sassMixins";

.not-found {
  @include template;
  @include flex-column-center;

  h1 {
    color: white;
    font-size: 5em;
    margin-bottom: 1em;
    font-weight: 400;
  }

  button {
    padding: 1em 2em;
    background-color: transparent;
    border: 0.125em solid white;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    text-decoration: none;
  }

  @media only screen and (max-width: 700px) {
    font-size: 10px;
  }

  @media only screen and (max-width: 395px) {
    font-size: 7px;
  }
}
