.Repository {
  background: url("../../assets/img/simple-codelines.svg"), #2b3137;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    font-size: 3em;
    color: white;
    font-weight: 400;
    margin-bottom: 1em;
  }
}
