@import "../../assets/sassMixins.scss";

.Repository {
  @include template;
  @include flex-column-center;
  height: 100vh;

  &__header {
    font-size: 3em;
    color: white;
    font-weight: 400;
    margin-bottom: 1em;
    text-align: center;
    padding: 0 1em;
  }

  @media only screen and (max-height: 620px) {
    &__header {
      margin-top: 1.5em;
    }
  }

  @media only screen and (max-height: 580px) {
    &__header {
      margin-top: 4em;
    }
  }

  @media only screen and (max-width: 870px) {
    font-size: 14px;
  }

  @media only screen and (max-width: 685px) {
    font-size: 12px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 10px;
  }

  @media only screen and (max-width: 380px) {
    &__header {
      font-size: 2.3em;
    }
  }
}
