.search {
  background: url("../../assets/img/simple-codelines.svg"), #2b3137;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    display: flex;
    margin-bottom: 3em;

    h1 {
      font-size: 4em;
      color: white;
      font-weight: 400;
    }

    img {
      height: 4em;
    }
  }

  &__form-containner {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
    margin-bottom: 4rem;
  }
}
