@import "../../assets/sassMixins.scss";

.search {
  @include template;
  @include flex-column-center;
  height: 100vh;

  &__title {
    display: flex;
    margin-bottom: 3em;

    h1 {
      font-size: 4em;
      color: white;
      font-weight: 400;
    }

    img {
      height: 4em;
    }
  }

  &__form-containner {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
    margin-bottom: 4em;
  }

  @media only screen and (max-width: 830px) {
    &__title {
      font-size: 13px;
    }

    &__form-containner {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  @media only screen and (max-width: 560px) {
    &__title {
      font-size: 10px;
    }
  }

  @media only screen and (max-width: 450px) {
    &__title {
      font-size: 7px;
    }
  }
}
