$black-gitHub: #2b3137;

@mixin template {
  background: url("./img/simple-codelines.svg"), $black-gitHub;
  background-size: cover;
  background-position: center;
  width: 100%;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
