@import "../../../../../assets/sassMixins.scss";

.info-box {
  width: 100%;
  display: flex;
  margin: 0.1em 0;

  &__black-part {
    padding: 0.7em 0;
    width: 40%;
    background-color: $black-gitHub;
    color: white;
    text-align: center;
  }

  &__black-part--large {
    padding-top: 0.7em;
    width: 40%;
    height: 11em;
    background-color: $black-gitHub;
    color: white;
    text-align: center;
  }

  &__white-part {
    text-align: center;
    border: 2px solid $black-gitHub;
    padding: 0.7em 0;
    width: 60%;
    background-color: white;
  }
}
